.courseList {
  flex: 1 1 auto;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.courseContainer {
  background-color: var(--white-0);
  padding: 48px;
  width: 100%;
  overflow: hidden;
}

.courseContainerTitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  margin-bottom: 0px;
  text-align: center;
}

.courseContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.actionsWrapper {
  display: flex;
  align-items: center;
}
