body,
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  --brand-green: #6c946dff;
  --brand-green-rgb: 108, 148, 109;
  --completed: #07bc0c;
  --link-blue: #0062e4;
  --bg-color: #f2f3f4;
  --black-0: #333333;
  --white-0: #ffffff;
  --border-color: #0000001a;
  background-color: var(--bg-color);
  color: var(--black-0);
}
